
import random
import csv

t = 0

def check_property():
    global t
    for i in range({{ repetitions }}):
        x = random.random()
        y = random.random()
        z = random.random()
        if not ({{ operation1 }}) == ({{ operation2 }}):
            t += 1

check_property()

result_value = t / {{ repetitions }}

with open("results_associativity.csv", "a", newline="") as f:
    writer = csv.writer(f)
    writer.writerow([{{ repetitions }}, "{{ operation1 }}", "{{ operation2 }}", result_value])
