
import random

t = 0

def check_property():
    global t
    for i in range({{ repetitions }}):
        x = random.random()
        y = random.random()
        z = random.random()
        if not ({{ operation1 }}) == ({{ operation2 }}):
            t += 1

check_property()

with open("result.txt", "w") as f:
    f.write(f"Violation rate: {t}/{{ repetitions }}")

